**/.git
**/.github
**/.idea
**/.vscode
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log
**/.env
**/secrets
**/airflow/logs
**/infrastructure/.terraform
**/infrastructure/*.tfstate
**/infrastructure/*.tfstate.backup
**/node_modules
**/venv
**/.terraform
**/spark/jobs/*.jar
**/jmx_prometheus_javaagent.jar
**/credentials.json
**/*.csv
**/*.parquet
**/dump.rdb
**/redis-data