boto3
botocore
confluent_kafka
findspark
pandas
numpy
jsonschema
kagglehub
pyspark
Requests
smart_open
pyarrow
apache-airflow
apache-airflow-providers-amazon
apache-airflow-providers-postgres
python-json-logger