boto3
botocore
confluent_kafka
findspark
pandas
numpy
jsonschema
kagglehub
pyspark
Requests
smart_open
pyarrow
apache-airflow==2.8.1
apache-airflow-providers-amazon
apache-airflow-providers-postgres
python-json-logger
psycopg2-binary